body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#display {
    position: absolute;
    top: 0px;
    left: 0px;
    border: 2px solid green;
}

.panel {
    width: calc(40px*var(--panel-width));
    height: calc(40px*var(--panel-height));
    overflow-y: scroll;
    font-size: 20px;
    -webkit-font-smoothing: subpixel-antialiased;
    backface-visibility: hidden;
    transform: translateZ(0);
}

.progress-panel {
    --panel-width: 16;
    --panel-height: 16;
    display: flex;
    flex-direction: column;
}

.output-panel {
    --panel-width: 16;
    --panel-height: 16;
}

progress {
    width: 100%;
}