body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#display {
    position: absolute;
    top: 0px;
    left: 0px;
    border: 2px solid green;
}

.panel {
    width: calc(75px*var(--panel-width));
    height: calc(75px*var(--panel-height));
    overflow-y: scroll;
}

.progress-panel {
    --panel-width: 2;
    --panel-height: 2;
    display: flex;
    flex-direction: column;
}